@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #111111;

  --color-brand: #c56e5e;
  --color-surface: #232323; /* Dark gray */
  --color-muted: rgba(17, 17, 17, 0.6);

  --font-sans: "Open Sauce One", "Open Sauce One Placeholder", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply antialiased font-sans;
  }
}

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
